#
# EditorConfig configuration.
#
# https://spec.editorconfig.org#supported-pairs
#

root = true

[*]
indent_style = tab
insert_final_newline = true
max_line_length = off

[*.{yml,yaml}]
indent_style = space
indent_size = 2
